@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-primary: #6e28ff;
  --color-secundary: #aa51ea;
  --color-dark-purple: #090510;
}

@keyframes spin-custom {
  to {
    transform: rotate(360deg);
  }
}

@keyframes thinkingPulse {
  0%,
  100% {
    opacity: 0.4;
    /* transform: translateX(0); */
  }
  50% {
    opacity: 1;
    /* transform: translateX(-4px); */
  }
}
.animate-spin-custom {
  animation: spin-custom var(--spin-duration, 2s) linear infinite;
}

.animate-thinking {
  animation: thinkingPulse 1.8s ease-in-out infinite;
}
